<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720329610327-14jbunmm1u83f4nl9b9vrjvgocoa1g5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720329610327-14jbunmm1u83f4nl9b9vrjvgocoa1g5n</string>
	<key>API_KEY</key>
	<string>AIzaSyDLWn1a3uBCMBpzX7_85r9B8w78QyA4geo</string>
	<key>GCM_SENDER_ID</key>
	<string>720329610327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swat.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-6b92c</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-6b92c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720329610327:ios:a7ada3bdb9109183</string>
	<key>DATABASE_URL</key>
	<string>https://movieapp-6b92c.firebaseio.com</string>
</dict>
</plist>